.cards {
    padding: 4rem;
    background: #F0F6F7FF;
  }
  .secondcontainer > h1 {
    color: #2E3441;
    font-size: 55px;
    position: relative;
    /* margin-left: 10px; */
    display: flex;
    flex-flow: column;
    align-items: center;
    max-width: 1120px;
    width: 90%;
    margin: 0 auto;
    margin-top: 125px;
    margin-bottom: -360px;
    /* margin-left: column; */
    align-self: flex-start;
    /* display: flex; */
}

.secondcontainer {
    height: 60vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: right 80px;
    /* box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2); */
    object-fit: contain;
}

.third  {
    margin-top: -355px;
    margin-bottom: 100px;
    margin-right: 100px;
    text-align: right;
    justify-self: start;
    /* justify-content: center; */
    color: #21306C;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    /* margin-right: 80px; */
}

.third > p {
    margin-top: -0px;
    align-items: right;
    /* align-self: flex-start; */
    /* justify-content: center; */
    color: #21306C;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    /* margin-right: 80px; */
}
.button {
    font-size: 10px;
    align-items: right;
    margin-right: 300px;
}
/* .second {
    height: 50vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left 20px;
    box-shadow: inset 0 0 0 1000px rgba(0, 0, 0, 0.2);
    object-fit: contain;
    
} */
.cards__item__link {
    align-items: right;
}


.secondcontainer > p {
    margin-top: -20px;
    text-align: right;
    color: #21306C;
    font-size: 15px;
    font-family: 'Merriweather', serif;
    margin-right: 80px;
}

.image {
    /* padding: 5px; */
    margin-top: 300px;
    margin-left: 100px;
    width: 450px;
    display: flex;
    position: relative;
    /* vertical-align: middle; */
}
/* .social-media-wrap {
    display: flex;
    justify-content: space-evenly;
    align-items: left;
    width: 90%;
    max-width: 1000px;
    margin: 40px auto 0 auto;
    color: #fff;
  } */




@media screen and (max-width: 360px) {
    .third  {
        margin-top: -355px;
        margin-bottom: 100px;
        margin-right: 100px;
        text-align: right;
        justify-self: start;
        /* justify-content: center; */
        color: #21306C;
        font-size: 15px;
        font-family: 'Merriweather', serif;
        /* margin-right: 80px; */
    }
    
    .third > p {
        margin-top: -0px;
        align-items: right;
        /* align-self: flex-start; */
        /* justify-content: center; */
        color: #21306C;
        font-size: 15px;
        font-family: 'Merriweather', serif;
        /* margin-right: 80px; */
    }
    .image {
        /* padding: 5px; */
        margin-top: 300px;
        margin-left: 100px;
        width: 450px;
        display: flex;
        position: relative;
        /* vertical-align: middle; */
    }
    .secondcontainer > h1 {
        color: #2E3441;
        font-size: 55px;
        position: relative;
        /* margin-left: 10px; */
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 1120px;
        width: 90%;
        margin: 0 auto;
        margin-top: 125px;
        margin-bottom: -360px;
        /* margin-left: column; */
        align-self: flex-start;
        /* display: flex; */
    }
  }

@media screen and (max-width: 368px) {
    .third  {
        margin-top: -355px;
        margin-bottom: 100px;
        margin-right: 300px;
        text-align: right;
        justify-self: start;
        /* justify-content: center; */
        color: #21306C;
        font-size: 15px;
        font-family: 'Merriweather', serif;
        /* margin-right: 80px; */
    }
    
    .third > p {
        margin-top: -0px;
        align-items: right;
        /* align-self: flex-start; */
        /* justify-content: center; */
        color: #21306C;
        font-size: 15px;
        font-family: 'Merriweather', serif;
        /* margin-right: 80px; */
    }
    .image {
        /* padding: 5px; */
        margin-top: 300px;
        margin-left: 300px;
        width: 550px;
        display: flex;
        position: relative;
        /* vertical-align: middle; */
    }
    .secondcontainer > h1 {
        color: #2E3441;
        font-size: 55px;
        position: relative;
        /* margin-left: 10px; */
        display: flex;
        flex-flow: column;
        align-items: center;
        max-width: 1120px;
        width: 90%;
        margin: 0 auto;
        margin-top: 95px;
        margin-bottom: -360px;
        /* margin-left: column; */
        align-self: flex-start;
        /* display: flex; */
    }
}


