:root {
    --primary: #000;
    --secondary: #fff;
  }
  
  .btn {
    padding: 8px 10px;
    border-radius: 1px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    
  }
  
  .btn--primary {
    background-color: var(--primary);
    color: #fff;
    border: 1px solid var(--primary);
    
  }
  
  .btn--outline {
    background-color: transparent;
    color: #000;
    padding: 8px 20px;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    margin-left: 80px;
  }
  
  .btn--medium {
    padding: 8px 10px;
    font-size: 18px;
  }
  
  .btn--large {
    padding: 10px 16px;
    font-size: 20px;
  }
  
  .btn--large:hover,
  .btn--medium:hover {
    transition: all 0.3s ease-out;
    background: #0000ff;
    color: #242424;
    transition: 250ms;
  }